// Для неавторизованного пользователя: содержит ссылку на страницу авторизации ("Login").
// Для авторизованного пользователя: отображает имя, фамилию пользователя и кнопку/ссылку "Logout".

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}
